@include md-core();

/* 1. Reset
   ========================================================================== */


html, body{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}




/* 2. General
   ========================================================================== */

.container {
  width: 100%;
  height: calc((100vh - 64px));
  max-width: none;
  .section {
    width: 100%;
  }
}


#screen-sidebar-expanded {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 320px;
  height: calc(100vh - 64px);
  background: #b0bec5;
}

#page{
  padding-right: 320px;
}
