<md-sidenav-layout>
  <md-sidenav #sidenav mode="side" class="app-sidenav">

    <div>
      <md-toolbar color="primary">
        <span>Pages</span>
        <span class="example-fill-remaining-space"></span>
        <span (click)="onAddPageDialog()">
          <i class="material-icons">note_add</i>
        </span>
      </md-toolbar>
    </div>
    <div>
      <div class='container, pageList' id="" [dragula]='"pageList"' [dragulaModel]='content.pageRefs'>

        <md-list *ngFor="let pageRef of content.pageRefs">
          <md-list-item (click)="onSelect(pageRef)">
            <a class="overflow">
              {{pageRef.title}}
            </a>
          </md-list-item>
        </md-list>
      </div>
    </div>


  </md-sidenav>

  <md-toolbar color="primary">
    <a (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </a>

    <span class="example-fill-remaining-space"></span>

    <span (click)="onGoStart()">Waddle</span>

    <span class="example-fill-remaining-space"></span>
  </md-toolbar>

  <main id="main flow-text">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>

</md-sidenav-layout>
